html {
    min-height: 100%;
  }
  body, #root, .full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 202, 207);
    font-family: 'BIZ UDPGothic', sans-serif;
  }
  
  
  nav, footer {
    background-color: #e8a24d;
     float: center;
    
      padding: 25px;
      background-color: #e8a24d;
    }
    
  
  footer{
    padding: 5px;
    
  }
  
  
  .point{
    cursor: pointer;
  }
  
  #avatar {
    max-height: 45vh;
    border-radius: 50px;
    border: 5px solid black;
  }
  
  #resumeImg {
    /* hit this with some media queries */
    max-height: 15vw;
  } 
  
  #skillCard {
    width: 28rem;
  }
  
  #contactBtn {
    background-color: #eb8a90
  }
  
  .my-border{
    border-radius: 20px;
    border: 3px solid black;
  }
  
  .p-image {
    /* max-height: 35vh; */
    max-width: 65vw;
    border: 3px solid black;
  }
  
  #aboutMe{
    max-width: 60vw;
  }